.downloadCard {
	border: 1px solid var(--gamma-light-blue);
    color: var(--gamma-blue);
    opacity: 0.9;
}

.downloadCard:hover {
    opacity: 1;
}

.downloadCardLift {
    transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}

.downloadCardLift:hover {
    box-shadow: 0 1.5rem 2.5rem rgba(22,28,45,.1),0 .3rem 0.5rem -.50rem rgba(22,28,45,.05) !important;
    transform: translate3d(0,-5px,0);
}

.downloadIcon {
    font-size: 3rem;
    
}

html[data-theme='dark'] .downloadIcon {
    color: var(--white) !important;
}

.downloadTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;    
}

html[data-theme='dark'] .downloadTitle {
    color: var(--white) !important;
}

.downloadDesc {
 font-size: 1rem;
}

html[data-theme='dark'] .downloadDesc {
    color: var(--white) !important;
}